@media only screen and (max-width: 800px) {


  .Banner img.Banner {
    background: url(Imatges/Banner_mobile.jpeg);
    width: 480px;
    height: 200px;
    margin-right: 80px;
  }

  .nav li {
    display: inline;
    background: linear-gradient(#000000, #776464);
    font-size: 18px;
    padding: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  .nav {
    margin-right: 100px;
  }

  .logo {
    margin-left: 20px;
  }

  .div2 {
    display: block;

  }

  .div2 img {

    margin-right: 40px;


  }

  .div3 {
    margin-left: 110px;
  }

  .div3 img {

    margin-left: 30px;


  }

  .div3 .paraf {
    text-align: justify;
    margin-left: 30px;

  }



  .div4 {

    margin-left: -80px;

  }
  

  .div4_inici {

    margin-left: 100px;
    
  }

  .div4 .img_inici {

    margin-right: -200px;

  }

  .div5 {

    margin-top: 930px;
  }


  .div7 {

    margin-left: 100px;

  }

  .div8 {

    margin-left: 120px;


  }

  .LOPD {

    color: orange;
    text-align: center;
    font-family: 'Monoton', sans-serif;
    font-style: italic;
    padding-top: 70px;
    font-size: 23px;

  }

  .paraf_LOPD {
    text-align: justify;
    text-align-last: left;
    padding-left: 30px;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-right: 20px;
  }

  


}