@media only screen and (max-width: 900px) {


  img.Banner {
    background: url(Imatges/Banner_mobile.jpeg);
    width: 400px;
    height: 400px;
  }




  .logo {
    margin-left: 60px;
  }

  .div2 {
    display: block;
    margin-left: 12%;
  }

  .div3 img {

    margin-left: 40px;

  }

  .div4 {

    display: block;
    margin-left: -50px
  }

  .div5 .nav {

    margin-top: 0px;
  }





}